<div class="container text-center ">
    <div class="d-flex justify-content-evenly">
        <div class="card px-5">
            <div class="card-body">
                <h5 class="card-title">Crud Produtos</h5>
                <br>
                <a href="admin/products">
                     <button class="btn btn-success">Nova categoria</button>
                </a>
            </div>
        </div>
        <div class="card px-5">
            <div class="card-body">
                <h5 class="card-title">Crud Clientes</h5>
                <br>
                <a href="admin/customers" class="btn btn-primary">Button</a>
            </div>
        </div>
        <div class="card px-5">
            <div class="card-body">
                <h5 class="card-title">Crud Pedidos</h5>
                <br>
                <a href="admin/orders" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div>
</div>